body {
font-family: helvetica,arial,verdana,sans;
}

p {clear:both;}

/* Configuration of menu width */

html body ul#theme1 ul
,html body ul#theme1 ul li {
width:200px;
}
html body ul#theme1 ul ul {
margin:0 0 0 200px;
}

/* Theming the menu */


/*ul#theme1 {
float:left;
font-size:120%;
border:solid red;
border-width:0 5px 0 5px;
}*/


/*ul#theme1 ul {
border-bottom:5px solid red;
background:yellow;
}*/

ul#theme1 li a {
//padding:20px 30px;
font-family:"Lucida Sans","Century Gothic","Franklin Gothic Book","Franklin Gothic",helvetica,arial,verdana,sans;
text-decoration:none;
background:black; //overidden per a
color:white;
}

ul#theme1 li.red a{
background:#E50000;

}

ul#theme1 li.blue a{
background:#17DBF0;

}

ul#theme1 li.yellow a{
background:#FDC458;

}

ul#theme1 li.green a{
background:green;

}

ul#theme1 li a:hover
,ul#theme1 li a:focus {
color:white;
background:#333333;
}

ul#theme1 li a {
color:black;
}

ul#theme1 span.sf-arrow {
top:28px;
right:6px;
/*background-image:url(images/arrows-white.png);*/
}

ul#theme1 ul span.sf-arrow {
right:12px;
top:16px;
}
