* {
	margin: 0;
	padding: 0;
}

a img {
    border: 0 none;
}

fieldset {
    border: 0 none;
}
textarea {
    font: inherit;
}
body {
	background-color: #f1f1f1;
	font: 80% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
	color: #444444;
}


@media screen and (max-width: 800px) {

	/*#content {
		width: 100%;	
	}

	#main {
		float: none;
		width: 100%
	}

	#sidebar {
		float: none;
		width: 100%	
	}*/

}

@media screen and (min-width: 800px) and (max-width: 1024px) {
	#content {
		width: 100%;
	}

	#main {
		float: left;
		width: 60%;
	}

	#sidebar {
		float: right;
		width: 40%;
	}

}

@media screen and (min-width: 1024px) {
	#content {
		width: 80%;
		margin: 0 auto;
	}

	#main {
		float: left;
		width: 60%;
	}

	#sidebar {
		float: right;
		width: 40%;
	}
}



#header {
	height: 150px;
	background-color: red;
}

#footer {
	clear: both;
	height: 200px;
	background-color: green;
}

#main {
	background-color: yellow;
	/* Magie CSS by Pierre Yves */
	/*border-top: 1px solid blue;
	border-bottom: 1px solid blue;	*/
	/* overflow: auto; */
}

.news {
	background-color: orange;
	height: 100px;
	margin: 20px
}

#sidebar {
	background-color: #cccccc;
	/*border-top: 1px solid blue;
	border-bottom: 1px solid blue; */
	/*overflow: auto;	*/
}

.block {
	background-color: #dddddd;
	height: 100px;
	margin: 20px

}

