* {
	margin: 0;
	padding: 0;
}

div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a img {
    border: 0 none;
}

fieldset {
    border: 0 none;
}
textarea {
    font: inherit;
}
body {
	background-color: #f1f1f1;
	font: 80% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
	color: #444444;
}

#header {
	height: 150px;
	background-color: red;
	position: relative;
}

#footer {
	clear: both;
	height: 200px;
	background-color: green;
}

#main {
	background-color: yellow;
	padding: 20px;
}

.news {
	background-color: orange;
	height: 100px;
	margin: 0px 0 20px 0;
}

#aside {
	background-color: #cccccc;
	padding: 20px;
}

.block {
	background-color: #dddddd;
	height: 100px;
	margin: 0px 0 20px 0;
}

#navigation {
	list-style: none outside none;
	padding-top: 115px; /* 150 px header - 35 px nav menu, padding and not margin here otherwise header does not stick at the top of the browser window*/
}

#navigation li {
	float: left;
}

#navigation a {
	color: white;
	text-decoration: none;
	display: block;
	height: 35px;
	font-size: 20px;
	padding: 5px 5px 0px 5px;
	margin-left: 5px;
	background: #eeeeee;
	background: linear-gradient(to bottom, #cccccc 0%,#eeeeee 100%); /* W3C */
	background: -moz-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* FF */
	background: -webkit-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* Chrome */
	border-radius: 5px 5px 0px 0px;
}	

#navigation a.selected {
	color: grey;
	background: #bbbbbb;
	background: linear-gradient(to bottom, #aaaaaa 0%,#bbbbbb 100%); /* W3C */
	background: -moz-linear-gradient(top, #aaaaaa 0%,#bbbbbb 100%); /* FF */
	background: -webkit-linear-gradient(top, #aaaaaa 0%,#bbbbbb 100%); /* Chrome */
	
}	

#pager {
	text-align: center;
}

#pager a {
	background-color: green;
	text-decoration: none;
	/* font-size: 20px; */
	padding: 3px 3px 3px 3px;
	margin: 2px;
	border-radius: 1px 1px 1px 1px;
}	

/* smartphones */
@media screen and (max-width: 800px) {

	/*#content {
		width: 100%;	
	}

	#main {
		float: none;
		width: 100%
	}

	#aside {
		float: none;
		width: 100%	
	}*/

	body {
		min-width: 400px;	
	}
	
	#navigation {
		width: 100%;
		padding-top: 0px;
	}	
	
	#navigation li {
		float: none;
	}
	
	#navigation a {
		border-radius: 0px;
		margin-left: 0px;
	}
	#header {
		height: auto;
	}	
	
}

/* tablets/small desk screens */
@media screen and (min-width: 800px) and (max-width: 1024px) {
	#content {
		width: 100%;
	}

	#main {
		float: left;
		width: 60%;
	}

	#aside {
		float: right;
		width: 40%;
	}

}

/* large desk screens */
@media screen and (min-width: 1024px) {

	#content {
		width: 80%;
		margin: 0 auto;
	}

	#main {
		float: left;
		width: 60%;
	}

	#aside {
		float: right;
		width: 40%;
	}
	
	#navigation {
		padding-left: 40px;
	}
}